@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-image: url(https://i.pinimg.com/564x/44/67/f0/4467f059d40d94d04d77cf310e991db7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}  
.titulo{
    font-size: 20px;
    padding: 1vw;
    text-align: center;
    padding: 50px;
}

header{
    width: 100%;
    height: 80px;
    margin-top: 5px;  
    z-index: 0;  
}

.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
    
}

.logo img{
    width: 60px;
    border-radius:10px;

}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

#selected1{
    background: #F6615D;
    padding: 10px 30px;
    border-radius: 40px;
}

.menu nav img{
    display: none;
}

.menu #btn_menu{
    display: none;
}


/*COVER*/


.container__cover{
    width: 100%;
    height: 800px;
    background-image: url(../images/Background-page.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
}

.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f54d4d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #f54d4d;
}


.container__cover .svg img{
    width: 600px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}


/*Haciendo la página Responsive*/

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

}

@media screen and (max-width: 720px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #000000;
    }

    .menu nav img{
        display: block;
        width: 80px;
        border-radius: 30px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.317);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgb(255, 255, 255);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgb(255, 255, 255);
    }
}




.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 350px;
    margin: 5px;
    transition: all 400ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 25px;
    z-index: -1;
    filter: drop-shadow(5px 5px 4px rgba(159, 11, 245, 0.558));
    transition: all 300ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}
.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(../images/bg3.jpg);
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 20px;
   
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}
















